.test-1 {
    float: right;
}

.test-2 {
    float: right;
}

.test-3 {
    float: right;
}

.wrapper {
    background-color: yellow;
}

.clear {
    clear: both; /*ზევით რომ იყოს ორივე left ან right მაშინ იმის შესაბამისს მივუთითებდით, ხოლო ასეთ სიტუაციაში გვიწევს both*/
}

.left-block {
    width: 570px;
    background: #F2F2F2;
    float: left;
}

.right-block {
    width:  570px;
    background: #F2F2F2;
    float: right;
}


.image-block {
    float: left;
}

.text-block {
    float: right;
    width: 355px;
}

.read {
    float: right;
}